* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 1rem; }

@keyframes leftMove {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  /* 80%{
        transform: translateX(10px);
    } */
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes rightMove {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes bottomMove {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.u-center-text {
  text-align: center !important; }

.u-marigin-bottom-8 {
  margin-bottom: 8rem; }

.heading-secondary {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 800;
  background-image: linear-gradient(to right, #7777FF, #4F4FFF);
  -webkit-background-clip: text;
  color: transparent; }
  .heading-secondary:hover {
    transform: translateY(-0.5rem); }

.heading-projects {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 2rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.job-text {
  font-size: 1.8rem;
  font-weight: 600; }

.section-projects {
  background-color: #f5f5f5;
  padding: 5rem 4rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 10rem;
  animation: bottomMove 5s;
  animation-duration: 1s;
  transition: all 0.2s; }

.btn:hover {
  transform: translateY(-2px);
  background-color: lightgray; }

.btn:active {
  transform: translateY(2px); }

.btn-white {
  border: solid white;
  color: white;
  font-size: 15px;
  letter-spacing: 3px; }

.project-btn-text {
  text-transform: uppercase;
  color: #fff;
  background-color: #5ca9fb;
  background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 25px;
  transition: all 0.5s linear;
  text-decoration: none;
  margin: 0 5rem; }

.projects {
  position: relative; }
  .projects__photo {
    width: 75%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    outline-offset: 1rem; }
    .projects__photo--p1 {
      left: 0;
      top: 2rem; }
    .projects__photo--p2 {
      left: 60;
      top: 15rem; }
    .projects__photo--p3 {
      left: 120;
      top: 28rem; }
    .projects__photo:hover {
      outline: 1rem solid #4d98cf;
      transform: scale(1.1);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .projects:hover .projects__photo:not(:hover) {
    transform: scale(0.95); }

.header {
  height: 95vh;
  background-image: linear-gradient(#7D7D7D, #7777), url(../img/background.jpg);
  background-size: cover;
  background-position: center; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center; }

.heading-primary {
  color: #ffffff; }
  .heading-primary--main {
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2rem;
    display: block;
    animation: rightMove 5s;
    animation-duration: 1s; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation: leftMove 5s;
    animation-duration: 1s;
    margin-bottom: 5rem; }

.row {
  max-width: 164rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2*6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2*6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3*6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2*((100% - 3*6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3*((100% - 3*6rem) / 4) + 2 * 6rem); }
