.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 10rem;
        animation: bottomMove 5s;
        animation-duration: 1s;
        transition: all 0.2s;
    }

    &:hover {
        transform: translateY(-2px);
        background-color: lightgray;
    }

    &:active {
        transform: translateY(2px);
    }

    &-white {
        border: solid white;
        color: white;
        font-size: 15px;
        letter-spacing: 3px;

    }
}

.project-btn-text{
    text-transform: uppercase;
    color: #fff;
    background-color: #5ca9fb;
    background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 25px;
    transition: all 0.5s linear;
    text-decoration: none;
    margin: 0 5rem;
    
}